

  .imga {
  cursor: pointer;
  margin-top: 10%;
  width: 30px;
  height: 30px;
  border:2px solid rgba(2, 0, 3, 0.356);
  border-radius:30px;
 
  }

  #formPerfil{
  border-left: 1px solid rgba(0, 0, 0, 0.336);
  padding-left: 10px ;
  }
   

    .pull-right{
     position: absolute;
     right: 5%;
    }

    @media only screen and (max-width: 990px) {
     
  
    }