input[type=text]:disabled {
  background: #dddddd2c;
}
.fotoChange:hover{
 padding: 1.8%;
}

#upload-photo {
   opacity: 0;
   position: absolute;
   z-index: -1;
}

.changeImg:hover{  
 color: #0d6efd

}

